$font-stack:    Helvetica, sans-serif;

$primary-color: #333;

$color-green: #16A085;
$color-light-green: #B9E2DA;
$color-violet: #8E44AD;
$color-light-violet: #DDC6E6;
$color-blue: #2980B9;
$color-light-blue: #BED8EA;

$color-orange: #E67E22;
$color-light-orange: #F7D8BC;
$color-red: #C0392B;
$color-light-red: #ECC3BF;
$color-yellow: #F1C40F;
$color-light-yellow: #FAEDB7;

$color-violet-dark: #4A0940;
$color-blue-dark: #092A4A;
$color-green-dark: #09454A;

// Base html styles
body {
    font: 100% $font-stack;
    color: $primary-color;
    overflow-x: hidden;
}

h1, h2 ,h3 {
  text-transform: uppercase;
  font-weight: 500;
}

h1 {
  font-size: 2.000rem;
}

h2 {
  font-size: 1.600em;
}

#contact {
  background-color: $color-green-dark;
  min-height: 200px;
  color: #fff;
}


section {
  padding: 10px 0 20px;

}

.row {
  padding: 0 10px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#contact h1 {
    color: #fff;
}
