@import "materialize";
@import "animate";

$font-stack: Roboto, sans-serif;

$primary-color: #000;
$secundary-color: #fff;

$color-green: #16A085;
$color-light-green: #B9E2DA;
$color-violet: #8E44AD;
$color-light-violet: #DDC6E6;
$color-blue: #2980B9;
$color-light-blue: #BED8EA;

$color-orange: #E67E22;
$color-light-orange: #F7D8BC;
$color-red: #C0392B;
$color-light-red: #ECC3BF;
$color-yellow: #F1C40F;
$color-light-yellow: #FAEDB7;

$color-violet-dark: #4A0940;
$color-blue-dark: #092A4A;
$color-green-dark: #09454A;

// Base html styles
body {
    font: 16px $font-stack;
    color: $primary-color;
    overflow-x: hidden;
}

h1, h2 ,h3 {
  text-transform: uppercase;
  font-weight: 500;
}

h1 {
  font-size: 2.000rem;
}

h2 {
  font-size: 1.600em;
}

.content h2{
  font-size: 1.3em;
}

h3 {
  font-size: 1.067em;
}

p {
  font-size: 1.067rem;
  font-weight: 200;
  line-height: 1.5;
  text-align: justify;
}

.bgGreen {
  background-color: $color-green;
}

.bgGreenLight {
  background-color: $color-light-green;
}

.bgBlue {
  background-color: $color-blue;
}

.bgBlueLight {
  background-color: $color-light-blue;
}

.bgOrange {
  background-color: $color-orange;
}

.bgOrangeLight {
  background-color: $color-light-orange;
}

.bgViolet {
  background-color: $color-violet;
}

.bgVioletLight {
  background-color: $color-light-violet;
}

.bgRed {
  background-color: $color-red;
}

.bgRedLight {
  background-color: $color-light-red;
}

.bgYellow {
  background-color: $color-yellow;
}

.bgYellowLight {
  background-color: $color-light-yellow;
}

.animated {
  opacity: 0;
}

section {
  padding: 10px 0 20px;

  @media #{$medium-and-up} {
    padding: 50px 0 50px;
  }
}

.row {
  padding: 0 10px;
  width: 100%;
  max-width: 1200px;
}

.justify-align {
  text-align: justify;
}

// Header
header {
  margin: 0;
  padding: 0;
  position: relative;

  @media #{$medium-and-up} {
    a.button-collapse { display: none; }
  }

  .cover {
    background-image: url('../img/Header.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 51.87500000000001%; /* 747 / 1440 */
  }

  nav {
    top: 0;
    height: 30px;
    line-height: 30px;
    @include gradient(transparent, rgba(0,0,0,0.85), transparent);
    box-shadow: none;
    position: absolute;

    a {
      font-weight: 300;
    }

    .button-collapse {
      height: 30px;
      line-height: 30px;

      i {
        margin-right: 5px;
        height: 30px;
        line-height :30px;
        font-size: 2.0rem;
      }
    }

    @media #{$large-and-up} {
      height: 56px;
      line-height: 56px;
      font-size: 2.7rem;
    }
  }

  h1 {
    margin: 0;
    padding: 0;
    left: 5%;
    bottom: 10%;
    color: #FFFFFF;
    font-size: 2.4rem;
    font-weight: 700;
    position: absolute;

    @media #{$medium-and-up} {
      font-size: 3.2rem;
      left: 10%;
      bottom: 25%;
    }

    @media #{$large-and-up} {
      font-size: 4.0rem;
      left: 15%;
      bottom: 30%;
    }

    span {
      font-weight: 300;
      line-height: 15px;
      font-size: 1.500rem;
      display: block;

      @media #{$medium-and-up} {
        line-height: 20px;
        font-size: 2.0rem;
      }

      @media #{$large-and-up} {
        line-height: 25px;
        font-size: 2.5rem;
      }
    }
  }
}

// about me
#aboutMe {

  .imgAboutMe {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 205px;
  }

  h3 {
    margin: 50px 0 10px;
    font-weight: 700;
  }

  .barContainer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 21px;
    position: relative;

    .barPercentage {
      margin: 0;
      padding: 0;
      top: 0;
      left: 0;
      width: 0px;
      height: 21px;
      position: absolute;
      @include transition-duration(1.5s);
      @include transition-property(width);
      @include transition-timing-function(cubic-bezier(.29,.12,.15,1));

      .barFlag {
        margin: 0;
        padding: 4px 0;
        top: -35px;
        right: -20px;
        width: 40px;
        color: #FFFFFF;
        font-size: 0.733em;
        text-align: center;
        position: absolute;

        .arrow {
          margin: 0;
          padding: 0;
          bottom: -8px;
          left: 10px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8px 10px 0 10px;
          border-color: #000000 transparent transparent transparent;
          position: absolute;
        }
      }

      .barFlag.bgGreen {
        .arrow {
          border-top-color: $color-green;
        }
      }

      .barFlag.bgBlue {
        .arrow {
          border-top-color: $color-blue;
        }
      }

      .barFlag.bgOrange {
        .arrow {
          border-top-color: $color-orange;
        }
      }

      .barFlag.bgViolet {
        .arrow {
          border-top-color: $color-violet;
        }
      }

      .barFlag.bgRed {
        .arrow {
          border-top-color: $color-red;
        }
      }

      .barFlag.bgYellow {
        .arrow {
          border-top-color: $color-yellow;
        }
      }
    }
  }
}

// work
#work {
  background-color: $color-violet-dark;

  h1 {
    color: #FFFFFF;
  }

  .card, img {
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .card {
    margin-bottom: 20px;
  }

  @media #{$medium-and-up} {
    .card {
      margin-bottom: 0;
    }
  }

  .card-reveal {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

// skills
#skills .skill-icon{
  margin: 1.2rem 0 1.1rem 0;
}

.color-green{
  color: $color-green;
}

.color-violet{
  color: $color-violet;
}

.color-blue{
  color: $color-blue;
}

/* -----------media queries --------------------------- */
@media screen and (min-width: 601px) {
   #work > .row .col {
        padding: 8px;
   }

   #work > .row {
        padding: 8px;
   }
   #skills .row .col{
     text-align: center;
   }

   #skills .skill-icon{
     margin: 1.2rem 1.1rem 0 1.1rem;
    font-size: 4em;
  }
}

// footer

footer {
  background-color: $color-blue-dark;
  color: #FFFFFF;

  .row {
    margin-bottom: 0;

    h3 {
      margin-top: 30px;
      font-size: 1.500em;
      font-weight: 500;
    }

    @media #{$medium-and-up} {
      h3 {
        margin-top: 48px;
      }

      p, h3.address {
        text-align: right;
      }
    }

    ul li, p {
      margin-bottom: 0;
      font-size: 1.125em;
      line-height: 32px;
      font-weight: 300;
    }

    @media #{$large-and-up} {
      ul, p {
        margin-bottom: 50px;
      }

      p, h3.address {
        text-align: left;
      }

      .social {
        text-align: right;
      }
    }

    a {
      margin: 38px 0 40px;
      color: #FFFFFF;
      display: inline-block;

      .fa-xing, .fa-linkedin, .fa-google-plus {
        color: $color-blue-dark;
      }
    }
  }
}

// contact
#contact {

  background-color: $color-green-dark;

  h1 {
    color: #FFFFFF;
  }

  .input-field label {
    color: #FFFFFF;
  }

  input, textarea {
    color: #FFFFFF;
    border-bottom-color: #FFFFFF;
  }

  input.invalid, textarea.invalid {
    border-bottom: 1px solid #F44336;
    color: #F44336;
  }

  textarea
  {
    min-height: 214px;

    @media #{$large-and-up} {
      min-height: 226px;
    }
  }
  .btn-contact{
    background-color: transparent;
    border: 1px solid white;
    box-shadow: none;
    width: 200px;
    margin-top: 20px;
  }
}
