$font-stack:    Roboto, sans-serif;

$primary-color: #333;

$color-green: #16A085;
$color-light-green: #B9E2DA;
$color-violet: #8E44AD;
$color-light-violet: #DDC6E6;
$color-blue: #2980B9;
$color-light-blue: #BED8EA;

$color-orange: #E67E22;
$color-light-orange: #F7D8BC;
$color-red: #C0392B;
$color-light-red: #ECC3BF;
$color-yellow: #F1C40F;
$color-light-yellow: #FAEDB7;



body {
    font: 100% $font-stack;
    color: $primary-color;
}


#work {
    background-color: #4A0940;
}

#work > .row .col {
    padding: 0;
    margin: 0;
}

#work > .row-image {
    font-size: 0;
}

#work .card {
    padding: 0;
    margin: 0;
    opacity: 0;
}

#work .card-title {
    font-size: 2.2em;
}

#work .project-details {
    font-size: 2em;
}

#work .card-reveal {
   background-color: rgba(255, 255, 255, 0.9);
}


#work h1 {
    color: #FFF;
    font-size: 3.2em;
    padding: 1.5em 0em;
}

/* -----------media queries --------------------------- */
@media screen and (min-width: 601px) {
   #work > .row .col {
        padding: 8px;
   }

   #work > .row {
        padding: 8px;
   }
}